In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel("../Data/VehicleData.xlsx")

In [3]:
dataset.head()

,state,city_id,city_name,fuel_type_org,fuel_type,class,fifteen_Prct_in_jurisdiction,sixteen_Prct_in_jurisdiction,seventeen_Prct_in_jurisdiction,fifteen_wghtfuel_economy,sixteen_wghtfuel_economy,seventeen_wghtfuel_economy
0,CT,9015,Windham,UNK,Other/Unknown,Unknown,0.000009,0.000000,0.000000,0.000000e+00,0.000000e+00,0.0
1,DE,10001,Kent,DIES,Diesel vehicle,Car,0.000286,0.000032,NaN,9.033980e-06,1.322474e-06,NaN
2,DE,10001,Kent,DIES,Diesel vehicle,Truck,0.001238,0.001206,0.000057,5.626527e-05,5.322579e-05,0.0
3,DE,10001,Kent,ELECTRIC VEHICLE,Electric vehicle,Car,0.000038,0.000038,NaN,3.340988e-07,3.627358e-07,NaN
4,DE,10001,Kent,FFV,Flex fuel vehicle,Car,0.007116,0.003498,0.000590,3.538523e-04,1.757628e-04,0.0